/*
 * ARTIKCloudAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package cloud.artik.api.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import cloud.artik.api.*;
import cloud.artik.api.models.*;
import cloud.artik.api.exceptions.*;
import cloud.artik.api.http.client.HttpClient;
import cloud.artik.api.http.client.HttpContext;
import cloud.artik.api.http.request.HttpRequest;
import cloud.artik.api.http.response.HttpResponse;
import cloud.artik.api.http.response.HttpStringResponse;
import cloud.artik.api.http.client.APICallBack;
import cloud.artik.api.controllers.syncwrapper.APICallBackCatcher;

public class DevicesStatusController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static DevicesStatusController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the DevicesStatusController class 
     */
    public static DevicesStatusController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new DevicesStatusController();
            }
        }
        return instance;
    }

    /**
     * Get Devices Status
     * @param    dids    Required parameter: List of device ids (comma-separated) for which the statuses are requested.
     * @param    includeSnapshot    Optional parameter: Include device snapshot into the response
     * @param    includeSnapshotTimestamp    Optional parameter: Include device snapshot timestamp into the response
     * @return    Returns the DeviceStatusBatch response from the API call 
     */
    public DeviceStatusBatch getDevicesStatus(
                final String dids,
                final Boolean includeSnapshot,
                final Boolean includeSnapshotTimestamp
    ) throws Throwable {
        APICallBackCatcher<DeviceStatusBatch> callback = new APICallBackCatcher<DeviceStatusBatch>();
        getDevicesStatusAsync(dids, includeSnapshot, includeSnapshotTimestamp, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Get Devices Status
     * @param    dids    Required parameter: List of device ids (comma-separated) for which the statuses are requested.
     * @param    includeSnapshot    Optional parameter: Include device snapshot into the response
     * @param    includeSnapshotTimestamp    Optional parameter: Include device snapshot timestamp into the response
     * @return    Returns the void response from the API call 
     */
    public void getDevicesStatusAsync(
                final String dids,
                final Boolean includeSnapshot,
                final Boolean includeSnapshotTimestamp,
                final APICallBack<DeviceStatusBatch> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/devices/status");

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 4995763140962542864L;
            {
                    put( "dids", dids );
                    put( "includeSnapshot", includeSnapshot );
                    put( "includeSnapshotTimestamp", includeSnapshotTimestamp );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5651497501278210180L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            DeviceStatusBatch _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<DeviceStatusBatch>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Update Device Status
     * @param    deviceId    Required parameter: Device ID.
     * @param    body    Optional parameter: Body
     * @return    Returns the DeviceStatus response from the API call 
     */
    public DeviceStatus putDeviceStatus(
                final String deviceId,
                final DeviceStatusPut body
    ) throws Throwable {
        APICallBackCatcher<DeviceStatus> callback = new APICallBackCatcher<DeviceStatus>();
        putDeviceStatusAsync(deviceId, body, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Update Device Status
     * @param    deviceId    Required parameter: Device ID.
     * @param    body    Optional parameter: Body
     * @return    Returns the void response from the API call 
     */
    public void putDeviceStatusAsync(
                final String deviceId,
                final DeviceStatusPut body,
                final APICallBack<DeviceStatus> callBack
    ) throws JsonProcessingException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/devices/{deviceId}/status");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5568308593360907592L;
            {
                    put( "deviceId", deviceId );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 4778126364557358345L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().putBody(_queryUrl, _headers, APIHelper.serialize(body));

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            DeviceStatus _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<DeviceStatus>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Get Device Status
     * @param    deviceId    Required parameter: Device ID.
     * @param    includeSnapshot    Optional parameter: Include device snapshot into the response
     * @param    includeSnapshotTimestamp    Optional parameter: Include device snapshot timestamp into the response
     * @return    Returns the DeviceStatus response from the API call 
     */
    public DeviceStatus getDeviceStatus(
                final String deviceId,
                final Boolean includeSnapshot,
                final Boolean includeSnapshotTimestamp
    ) throws Throwable {
        APICallBackCatcher<DeviceStatus> callback = new APICallBackCatcher<DeviceStatus>();
        getDeviceStatusAsync(deviceId, includeSnapshot, includeSnapshotTimestamp, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Get Device Status
     * @param    deviceId    Required parameter: Device ID.
     * @param    includeSnapshot    Optional parameter: Include device snapshot into the response
     * @param    includeSnapshotTimestamp    Optional parameter: Include device snapshot timestamp into the response
     * @return    Returns the void response from the API call 
     */
    public void getDeviceStatusAsync(
                final String deviceId,
                final Boolean includeSnapshot,
                final Boolean includeSnapshotTimestamp,
                final APICallBack<DeviceStatus> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();
        
        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/devices/{deviceId}/status");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 4900197272775116690L;
            {
                    put( "deviceId", deviceId );
            }});

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5175820702759071321L;
            {
                    put( "includeSnapshot", includeSnapshot );
                    put( "includeSnapshotTimestamp", includeSnapshotTimestamp );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5650634388138457960L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            DeviceStatus _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<DeviceStatus>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}